forge/build/
forge/.gradle/
fabric/run/
fabric/build/
fabric/.gradle/
common/build/
common/.gradle/
forge/run/options.txt
forge/run/usercache.json
forge/run/usernamecache.json
forge/run/.architectury-transformer/debug.log
forge/run/config/fml.toml
forge/run/config/forge-client.toml
forge/run/config/sidebar_buttons.json
forge/run/config/SDMMarket/configData.sdm
forge/run/config/SDMMarket/globalConfig.sdm
forge/run/crash-reports/crash-2025-03-13_13.46.39-client.txt
forge/run/crash-reports/crash-2025-03-13_13.48.55-fml.txt
forge/run/crash-reports/crash-2025-03-13_14.33.51-client.txt
forge/run/crash-reports/crash-2025-03-13_14.35.44-client.txt
forge/run/defaultconfigs/ftblibrary/ftblibrary-client.snbt
forge/run/local/ftblibrary-client.snbt
forge/run/logs/2025-03-12-1.log.gz
forge/run/logs/2025-03-12-2.log.gz
forge/run/logs/2025-03-13-1.log.gz
forge/run/logs/2025-03-13-2.log.gz
forge/run/logs/2025-03-13-3.log.gz
forge/run/logs/2025-03-13-4.log.gz
forge/run/logs/2025-03-13-5.log.gz
forge/run/logs/2025-03-13-6.log.gz
forge/run/logs/2025-03-13-7.log.gz
forge/run/logs/debug.log
forge/run/logs/debug-1.log.gz
forge/run/logs/debug-2.log.gz
forge/run/logs/debug-3.log.gz
forge/run/logs/debug-4.log.gz
forge/run/logs/debug-5.log.gz
forge/run/logs/latest.log
forge/run/saves/New World/icon.png
forge/run/saves/New World/level.dat
forge/run/saves/New World/level.dat_old
forge/run/saves/New World/session.lock
forge/run/saves/New World/advancements/380df991-f603-344c-a090-369bad2a924a.json
forge/run/saves/New World/data/capabilities.dat
forge/run/saves/New World/data/raids.dat
forge/run/saves/New World/data/random_sequences.dat
forge/run/saves/New World/DIM1/data/capabilities.dat
forge/run/saves/New World/DIM1/data/raids_end.dat
forge/run/saves/New World/DIM-1/data/capabilities.dat
forge/run/saves/New World/DIM-1/data/raids.dat
forge/run/saves/New World/entities/r.0.0.mca
forge/run/saves/New World/entities/r.0.-1.mca
forge/run/saves/New World/entities/r.-1.0.mca
forge/run/saves/New World/entities/r.-1.-1.mca
forge/run/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
forge/run/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
forge/run/saves/New World/poi/r.0.0.mca
forge/run/saves/New World/poi/r.0.1.mca
forge/run/saves/New World/poi/r.0.-1.mca
forge/run/saves/New World/poi/r.-1.0.mca
forge/run/saves/New World/poi/r.-1.1.mca
forge/run/saves/New World/poi/r.-1.-1.mca
forge/run/saves/New World/poi/r.-2.0.mca
forge/run/saves/New World/poi/r.-2.1.mca
forge/run/saves/New World/poi/r.-2.-1.mca
forge/run/saves/New World/region/r.0.0.mca
forge/run/saves/New World/region/r.0.1.mca
forge/run/saves/New World/region/r.0.-1.mca
forge/run/saves/New World/region/r.-1.0.mca
forge/run/saves/New World/region/r.-1.1.mca
forge/run/saves/New World/region/r.-1.-1.mca
forge/run/saves/New World/region/r.-2.0.mca
forge/run/saves/New World/region/r.-2.1.mca
forge/run/saves/New World/region/r.-2.-1.mca
forge/run/saves/New World/SDMEconomy/380df991-f603-344c-a090-369bad2a924a.data
forge/run/saves/New World/SDMMarket/offers/UsersOffers.sdm
forge/run/saves/New World/SDMMarket/players/380df991-f603-344c-a090-369bad2a924a.sdm
forge/run/saves/New World/serverconfig/forge-server.toml
forge/run/saves/New World/stats/380df991-f603-344c-a090-369bad2a924a.json
